<div class="story">

<h2>THE POWER OF THE DARK SIDE, By Emperor Palpatine</h2>

<br></br>
<br></br>

<div class="paragraph"> As {{madLibsObject.noun || "____________________"}} Sideious-Sith Lord and {{madLibsObject.adjective || "____________________"}} leader of

the Galactic Empire - I know firsthand how powerful the dark side of the Force is. <br />

If you become a sith, a/an {{madLibsObject.noun || "____________________"}} who uses the dark side of the Force,

you'll have all the powers of the Jedi and more.<br /> Unlike the Jedi, who only work with

the light side of the Force, the Sith can use the dark side to stop the {{madLibsObject.pluralNoun || "____________________"}}

he or she loves from {{madLibsObject.verb || "____________________"}}. <br />The Jedi would never try such a/an {{madLibsObject.adjective || "____________________"}}

thing. <br />It's obvious to anyone who has studied the dark side that it is more powerful

than the Jedi could {{madLibsObject.adverb || "____________________"}} imagine. <br /> The Jedi might tell you that the dark side

is quicker, easier, and more {{madLibsObject.adjective || "____________________"}} I admit, that may be true. <br />

But those who join the dark side will know {{madLibsObject.adjective || "____________________"}} power beyond their

{{madLibsObject.pluralNoun || "____________________"}}.<br /> Like me and my {{madLibsObject.noun || "____________________"}}, Darth Vador,

those who practice the dark side of the Force are destined to rule the {{madLibsObject.noun || "____________________"}}!<br />

Join us or {{madLibsObject.verb || "____________________"}}! </div>



</div>





<!--
{{madLibsObject.adjective}}
{{madLibsObject.verb}} -->
