<div class="story">

<h2>THE POWER OF THE DARK SIDE, By Emperor Palpatine</h2>

<br></br>
<br></br>

<div class="paragraph"> As <span class="deco">{{madLibsObject.noun || "____________________"}}</span> Sideious-Sith Lord and <span class="deco">{{madLibsObject.adjective || "____________________"}}</span> leader of

the Galactic Empire - I know firsthand how powerful the dark side of the Force is. <br />

If you become a sith, a/an <span class="deco">{{madLibsObject.noun || "____________________"}}</span> who uses the dark side of the Force,

you'll have all the powers of the Jedi and more.<br /> Unlike the Jedi, who only work with

the light side of the Force, the Sith can use the dark side to stop the <span class="deco">{{madLibsObject.pluralNoun || "____________________"}}</span>

he or she loves from <span class="deco">{{madLibsObject.verb || "____________________"}}</span>. <br />The Jedi would never try such a/an <span class="deco">{{madLibsObject.adjective || "____________________"}}</span>

thing. <br />It's obvious to anyone who has studied the dark side that it is more powerful

than the Jedi could <span class="deco">{{madLibsObject.adverb || "____________________"}}</span> imagine. <br /> The Jedi might tell you that the dark side

is quicker, easier, and more <span class="deco">{{madLibsObject.adjective || "____________________"}}</span> I admit, that may be true. <br />

But those who join the dark side will know <span class="deco">{{madLibsObject.adjective || "____________________"}}</span> power beyond their

<span class="deco">{{madLibsObject.pluralNoun || "____________________"}}</span>.<br /> Like me and my <span class="deco">{{madLibsObject.noun || "____________________"}}</span>, Darth Vador,

those who practice the dark side of the Force are destined to rule the <span class="deco">{{madLibsObject.noun || "____________________"}}</span>!<br />

Join us or <span class="deco">{{madLibsObject.verb || "____________________"}}</span>! </div>



</div>





<!--
{{madLibsObject.adjective}}
{{madLibsObject.verb}} -->
